.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
   background-color: #9304be;
   width: 50%;
   border-radius: 20px;
   margin-bottom: 30px;
   text-decoration: none;
}

.start:hover {
  box-shadow: 1px 1px 3px 3px black;
}

.startButton {
  color:white;
  font-size: 300%;
  text-decoration: none;
}

.startButton:hover {
  color:white
}

@media screen and (max-width: 576px) {
  .start {
    width:60%
  }
}

@media screen and (max-width: 576px) {
  .startButton {
    font-size: 200%;
  }
}

.ModeChoice, .CategoryChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.startCategory {
  background-color: #9304be;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;

}

.header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.instructions {
margin-bottom: 25px;
}

.information {
  display: flex;
  justify-content: space-evenly;
  font-size: 150%;
}

@media screen and (max-width: 576px) {
  .information {
    font-size: 4vw;
  }
}

.cardBody {
    border: 1px solid black;
    width: 100%;
    height: 80px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 3px black;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    margin: 10px 0px 20px 0px;
    font-size: 3vw;
}

@media screen and (max-width: 767px) {
  .cardBody {
    height: 40px;
  }
}

  .card-face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .front {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    background-image: linear-gradient(to bottom left, #FFCC70,#C850C0)
  }

   .is-turned {
    transform: rotateY(180deg);
  }
  
  .is-inactive {
    transform: rotateY(180deg);
    box-shadow: none;
  }

  .is-disabled {
    pointer-events: none;
  }

  .MuiDialog-paperWidthSm {
    background: #ecccff !important;
    border-radius: 30px !important;
    text-align: center !important;
    
  }

  .MuiDialogContentText-root {
    font-size: 25px !important;
  }
  
  .MuiTypography-h6 {
    font-size: 45px !important;
    font-weight: 500;
    color: #c404ff;
  }

  .MuiDialogActions-root {
    background-color: #c404ff;
    display: unset !important;
    margin-top: 20px;
  }

  .restartButton {
    color: white !important;
    border: 1px solid white !important;
    border-radius: 5px;
    font-weight: bold !important;
    width: 100px;
    float: left;
    margin-left: 20px !important;
  }

  .myHomeButton {
    color: white !important;
    border: 1px solid white !important;
    font-weight: bold !important;
    width: 100px;
    float: right;
    margin-right: 20px;
  }

  .welcome {
    color: #9304be;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer {
    text-align: center;
  }

  .sharon {
    color: #9304be;
    font-size: 120%;
  }

  .icons {
    font-size: 70%;
  }

  .game {
    display: flex;
  }

  .chatContainer {
    margin-left: 40px;
    margin-right: 20px;
  }

  .chat {
    width: 220px;
    height: 310px;
    box-shadow: 1px 1px 3px 3px black;
    border-radius: 5px;
    background-color: #f3e0ff;
    margin-bottom: 20px;
    padding: 7px;
  }

  input {
    background-color: #f3e0ff;
    border-radius: 5px;
  }

  li {
    list-style-type: none; margin: 0; padding: 0;
  }
  