/* @media screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
   background-color: #9304be;
   width: 30%;
   border-radius: 20px;
   margin-bottom: 30px;
}

.start:hover {
  box-shadow: 1px 1px 3px 3px black;
}

.startButton {
  color:white !important;
  font-size: 300%;
  text-decoration: none;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.instructions {
margin-bottom: 25px;
}

.information {
  display: flex;
  justify-content: space-evenly;
  font-size: 150%;
  font-weight: bold;
}

.cardBody {
    border: 1px solid black;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 3px black;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    margin: 10px 0px 20px 0px;
    font-size: 4vw;
}

@media screen and (max-width: 767px) {
  .cardBody {
    height: 60px;
  }
}

  .card-face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .front {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    background-image: linear-gradient(to bottom left, #FFCC70,#C850C0)
  }

   .is-turned {
    transform: rotateY(180deg);
  }
  
  .is-inactive {
    transform: rotateY(180deg);
    box-shadow: none;
  }

  .is-disabled {
    pointer-events: none;
  }

  .MuiDialog-paperWidthSm {
    background: #ecccff !important;
    border-radius: 30px !important;
    text-align: center !important;
    
  }

  .MuiDialogContentText-root {
    font-size: 25px !important;
  }
  
  .MuiTypography-h6 {
    font-size: 45px !important;
    font-weight: 500 !important;
    color: #c404ff !important;
  }

  .MuiDialogActions-root {
    background-color: #c404ff !important;
    display: unset !important;
    margin-top: 20px !important;
  }

  .restartButton {
    color: white !important;
    border: 1px solid white !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    font-size: 150% !important; 
    width: 100px !important;
    float: left !important;
    margin-left: 20px !important;
  }

  .myHomeButton {
    color: white !important;
    border: 1px solid white !important;
    font-weight: bold !important;
    width: 100px !important;
    float: right !important;
    margin-right: 20px !important;
  }

  .welcome {
    color: #9304be;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .choose {
    display: flex;
    justify-content: space-evenly;
  }

  .footer {
    text-align: center;
  }

  .sharon {
    color: #9304be;
    font-size: 120%;
  }

  .icons {
    font-size: 70%;
  }
  